<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783647609336-a036b54f7996sgkr2nii05gdfriej9mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783647609336-a036b54f7996sgkr2nii05gdfriej9mn</string>
	<key>API_KEY</key>
	<string>AIzaSyCecfJg5_xzm24-P1rsJuEkFVDr2rS-qLc</string>
	<key>GCM_SENDER_ID</key>
	<string>783647609336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramysabry1996.Notiz</string>
	<key>PROJECT_ID</key>
	<string>notikz</string>
	<key>STORAGE_BUCKET</key>
	<string>notikz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783647609336:ios:d4a3c3913914ccd7fe860d</string>
</dict>
</plist>